.contenedorLocalizar{
    width: 20%;
    height: 90px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contenedorLocalizar a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    display: flex;

}

.contenedorLocalizar a:hover{
    color: var(--hover-localizador);
    
}

.IconoLocalizar{
    height: 20px;
    padding-right: 5px;
}

.conteinerDarkLigth button{
    margin-left: 30px;
    padding: 5px 25px;
    border: none;
    border-radius: 50px;
    background-color: var(--button-fondo-dark-ligth);
    box-shadow: 2px 2px 7px var(--button-shadow-dark-ligth);
}
.conteinerDarkLigth button:hover{
    cursor: pointer;
    background-color: var(--button-hover-fondo-dark-ligth);
}

.conteinerDarkLigth img{
    height: 25px;
}