
a {
    text-decoration: none;
    color: var(--text-color);
}

nav ul li{
    width: 100%;
    height: 85px;
    list-style: none;
    font-style: italic;
    font-weight: bold;
    padding: 30px 0;
    border: 5px transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li :hover{
    font-weight: bold;
    padding: 30px 0;
    color: var(--color-text-border-menu-hover) ;
    border-bottom: 5px solid var(--color-text-border-menu-hover);
}



    
@media (max-width: 768px) {
     nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    nav ul li :hover{
        color: var(--color-text-border-menu-hover);
        font-weight: bold;
        border-bottom: 0px; 
    }
    
    
}
