a {
    text-decoration: none;
    color: var(--text-color);
}

ul li{
    width: 100%;
    height: 85px;
    list-style: none;
    font-style: italic;
    font-weight: bold;
    border: 5px transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li:hover:not(.logo, .header__item--right){
    color: var(--color-text-border-menu-hover);
    border-bottom: 5px solid var(--color-text-border-menu-hover);
}

