
a {
    text-decoration: none;
    color: var(--text-color);
}

nav ul li{
    width: 100%;
    height: 85px;
    list-style: none;
    font-style: italic;
    font-weight: bold;
    border: 5px transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:hover:not(.logo, .header__item--right){
    color: var(--color-text-border-menu-hover);
    border-bottom: 5px solid var(--color-text-border-menu-hover);
}



    
@media (max-width: 768px) {
     nav{
        width: 100%;
        height: 100%;
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    nav ul li a:hover{
        color: var(--color-text-border-menu-hover);
       
        
    }
    nav ul li:hover{
        border: 0 !important;
    }
}
