
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorBanner{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
}
.contenedorImagen{
    width: 50%;
    height: auto;
}

.contenedorImagen img{
    width: 100%;
    height: 100%;
    
}

.contenedorTexto{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.contenedorTexto h2{
    font-size: 30px;
    text-align: center;
}
.contenedorTexto p{
    font-size: 19px;
    margin: 0 30px;
    padding: 32px 30px;
}


.bannerReverse{
    flex-direction: row-reverse;
}

.botonBanner{
    width: 150px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
    background-color: transparent;
    border: 1px solid ;
    border-radius: 50px;
    cursor: pointer;
}

@media screen and (max-width: 765px){
    .contenedorBanner{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .contenedorImagen{
        width: 100%;
        height: auto;
    }
    .contenedorImagen img{
        width: 100%;
        height: auto;

    }
    .contenedorTexto{
        width: 100%;
        height: auto;
    }
}

