
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

p{
    font-size: 20px;
    color: var(--text-color);
    
}
h2{
    font-size: 24px;
    font-weight: bold;
    color: var(--title-color);
}
h3{
    color: var(--title-color);
}