*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.containerMenu{
    width: 65%;
    height: auto;
    background-color: green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menuUno{
    width: 20%;
    height: auto;
    background-color: red;
}
.menuDos{
    width: 20%;
    height: auto;
    background-color: blueviolet;
}
.menuTres{
    width: 20%;
    height: auto;
    background-color: yellow;
}