header .header__container{
    width: 100%;
    height: 90px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-block: 20px;
}

header .header__item--right{
    margin-left: auto;
    background-color: aqua;
}