
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productos{
    width: 33%;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productos img{
    width: 87%;
    height: auto;
    background-color: var(--fondo-producto);
    border: 8px solid var(--borde-producto);
    border-radius: 50%;
    cursor: pointer;
}

.productos img:hover{
    border: 8px solid var(--borde-producto-hover);
}

.productoTexto{
    text-align: center;
    color: var(--text-color);
}

@media (max-width: 768px){
    .productos{
        width: 50%;
        height: auto;
        text-align: center;
    }
}