
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.containerProductosMenu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contenedorProductoMenu{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.containerTitulos{
    width: 60%;
    height: auto;
    margin: 30px 0;
}
.containerTitulos h3{
    font-size: 20px;
    padding: 20px 0;
    color: var(--title-color);
}
@media (max-width: 768px){
    .containerTitulos{
        width: 90%;
        height: auto;
    }

}